body{
	font-family: 'Montserrat', sans-serif;
}

table, td {
    border: 1px solid #333;
    text-align: center;
}

h1 {
	text-align: center;
	margin: 1%;
	margin-top: 100px;
}


/*###### Style bande supérieure de la page ######*/
/* Bande d'en-tête */
.headerBand {
	background-color: #2f3664; 
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.headerBand p {
	float: left;
	margin-top: 16px;
	margin-left: 25px;
	color: white;
}



/*Style connection user windows*/
.userConnectionDiv {
	position : absolute;
	background-color: #2f3664;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	right: 0;
	width : 220px;
	height: 280px;
	border: none;
	visibility: hidden;	
	text-align: center;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 10px;
	z-index: 10;
}

.userConnectionDiv p{
	font-size: 15px;
	margin-top: 5px;
}

.userConnectionDiv i{
	color: #f26565;
}

#profilIcon{
	margin-top: 15px;
}

.headerband  #userConnectionButton{
	float: right;
	border: none;
	margin: 0;
	margin-right: 60px;
	padding: 20px 20px;
	background-color: #2f3664;
	color: white;
	height : 62px;
	width: 100px;
	margin-top: -5px;
}

.headerband  #userConnectionButton:hover {
	background-color: white;
	color: #2f3664;
	cursor: pointer;
}

#emailTextUserConnection {
	font-size: 12px;
}

#userLogout {
	color: white;
	padding: 5px 20px;
	text-decoration: none;
	border-radius: 5px;
}

#userLogout:hover {
	color: #2f3664;
	background-color: white;
}