html, body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	height: 100%;
}

table, td {
    border: 1px solid #333;
    text-align: center;
}

h1 {
	text-align: center;
	margin: 1%;
	margin-top: 5%;
	height: 10%;
}

#worldMap{
	height: 70%;
    overflow: auto;
}

/* Formulaire dans la page "Configurations" */
.form {
    border: 1px solid #c4c4c4;
    padding: 30px 25px 10px 25px;
    background: white;
    margin: 30px auto;
    width: 360px;
    box-sizing: unset;
}

.form h2.box-title {
    color: #AEAEAE;
    background: #f8f8f8;
    font-weight: 300;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    text-align:center;
    margin: -27px -26px 26px;
}
.form .box-button {
    border-radius: 5px;
    background: #d2483c;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    height: 51px;
    padding: 0;
    color: #fff;
    border: 0;
    outline:0;
}

.form .box-input {
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    width: 347px;
    height: 50px;
    box-sizing: inherit;
}

.form .box-input:focus {
    outline: none;
    border-color:#5c7186;
}

p.successMessage {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	position : relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin: 30px auto;
    width: 360px;
}