/*Style boutons ajouter modifier et supprimer un voyage*/

.buttonTrip {
	cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #2f3664;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width : 160px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.buttonTrip:hover{
	background-color: #2f3664;
	color: white;
}

.bottomPageButtonBand {
	text-align: center;
}



/*###### Style tableau de voyages ######*/
table {
	justify-content: center;
	margin-top: 30px;
}

#tripTable {
	margin: 50px auto;
	border-collapse: collapse;
	border: none;
}


#tripTable thead th{
	background-color: #2f3664;
	color: white;
}


#tripTable td, #tripTable th {
 	border: 1px solid #ddd;
 	padding-left: 18px;
 	padding-right: 18px;
 	vertical-align: middle;
}


#tripTable td {
 	font-size: 14px;
}

#tripTable select {
	background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}


#tripTable tr:nth-child(odd) {
	background-color: white;
}

#tripTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

tfoot {
    font-size: 14px;
}


.stateSoon {
	background-color: #f5ca78;
	border-radius : 5px;
	padding: 4px;
	padding-right: 10px;
	padding-left: 10px;
}

.stateArchived {
	background-color: #f98787;
	border-radius : 5px;
	padding: 4px;
	padding-right: 10px;
	padding-left: 10px;
}

.stateInProgress {
	background-color: #8ecf91;
	border-radius : 5px;
	padding: 4px;
	padding-right: 10px;
	padding-left: 10px;
}

.editDeleteTripButton button {
	cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
}

.editTripButton {
	background-color: #3967ce;
	float: left;
}

.deleteTripButton {
	background-color: #fe2525;
	float: right;
}

#validateUpdateTrip {
	background-color: #25be18;
	float: left;

}

#cancelUpdateTrip {
	background-color: #fe2525;
	float: right;
}

#actionColumn {
	width: 100px;
	min-width: 100px;
}




/*###### Style formulaire d'ajout des voyages ######*/
.tripFormDiv {
	font-size: 15px;
	border-radius: 5px;
    padding: 30px 25px 10px 25px;
    background: white;
    margin: 50px auto;
    width: 360px;
    text-align: center;
    display: flex;
	justify-content: center;
}

.tripFormDiv p{
	font-size: 20px;
}

.tripFormDiv input, .tripFormDiv select{
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
}


.tripFormDiv button{
    width: 300px;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #2f3664;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.tripFormDiv button:hover{
	background-color: #2f3664;
	color: white;
}

